<%= render partial: 'layouts/navbar', locals: {navbar_offset: 70} %>
<div class="row single-column-row">
  <div class="col-md-8 col-md-offset-1">
    <%= render 'indexed', travels: @travels %>
  </div>
  <div class="col-md-3">
    <aside></aside>
  </div>
</div>

<br>

<%= link_to 'New Travel', new_travel_path %>
<%= console %>
