<%= render partial: 'layouts/navbar', locals: {navbar_offset: 70} %>
<div class="row single-column-row">
  <div class="col-md-2">
    <%= render partial: 'layouts/archive', locals: {archive_position: "left"} %>
  </div>
  <div class="col-md-8">
    <%= render @travel %>
  </div>
  <div class="col-md-2">
  </div>
</div>

<%= link_to 'All travels', travels_path %>
