<%= render partial: 'layouts/navbar', locals: {navbar_offset: 70} %>
<div class="row single-column-row">
  <div class="col-md-2">
    <p>
      Ipsum a molestiae incidunt amet consequuntur? Non voluptatum eos tempora voluptate nisi, corrupti natus quo! Maiores atque sed sit laudantium totam. Quia ea id alias quibusdam distinctio accusantium sequi Mollitia velit error maiores ea maiores laborum? Accusantium id molestiae ducimus dolore deleniti itaque? Consequatur mollitia praesentium neque ratione accusantium Voluptatem reiciendis placeat distinctio autem veniam repudiandae! Similique ipsa temporibus quidem inventore facere? Aliquam quos rerum nostrum unde impedit! Iste illum tempora quam repellat id necessitatibus.
    </p>
    
  </div>
  <div class="col-md-8">
    <%= render @travel %>
  </div>
  <div class="col-md-2">
    <p>
      Ipsum a molestiae incidunt amet consequuntur? Non voluptatum eos tempora voluptate nisi, corrupti natus quo! Maiores atque sed sit laudantium totam. Quia ea id alias quibusdam distinctio accusantium sequi Mollitia velit error maiores ea maiores laborum? Accusantium id molestiae ducimus dolore deleniti itaque? Consequatur mollitia praesentium neque ratione accusantium Voluptatem reiciendis placeat distinctio autem veniam repudiandae! Similique ipsa temporibus quidem inventore facere? Aliquam quos rerum nostrum unde impedit! Iste illum tempora quam repellat id necessitatibus.
    </p>
  </div>
</div>

<%= link_to 'All travels', travels_path %>
