<%# render 'layouts/navbar' %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% last_travel = Travel.last unless Travel.all.blank? %>
    <h2>
      <%= last_travel.title %><small> by <%= User.find_by_id(last_travel.user_id).name %></small>
    </h2>
    <p>
      <%= markdown(last_travel.content) %>
    </p>
  </div><!-- /col-md-6 -->
</div><!-- /row -->
