
@import "bootstrap-sprockets";
@import "bootstrap";

@import "colors";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  width: 100%;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.message {
  color: #888888;
  text-align: center;
  margin: 10px auto;
}

#content-container {
  background-color: $main-color3;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 1600px;
}

$page-header-height: 80px;

// Logo

#logo {
  height: #{$page-header-height*0.7};
  border-radius: 5px;
  margin-top: 5px;
}

// Header


#header {
  height: $page-header-height;
  min-height: $page-header-height;
  background-color: $main-color4;
  margin: 0;
  padding: #{$page-header-height*0.1};
  span.login {
    padding-top: 6px;
  }
  .login {
    float: right;
    margin: #{($page-header-height - 10px)*0.25} 5px;
    a {
      text-decoration: none;
    }
  }
  .page-brand {
    float: left;
    margin-left: 20px;
  }
  h1 {
    float: left;
    margin: 6px 0 11px 40px; 
  }
  ul.social-links > li {
    list-style-type: none;
    float: right;
    a > img {
      width: #{$page-header-height*0.5};
      margin: #{($page-header-height - 10px)*0.2} 5px;
      border-radius: 10px;
    }
  }
}

@media all and (max-width: 900px) {
  #header > h1 {
    display: none;
  }
}

@media all and (max-width: 500px) {
  ul.social-links > li {
    display: none;
  }
}

// Navbar

$navbar-height: 50px;

.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

.affix + * {
  padding-top: $page-header-height;
}

span.icon-bar {
  background-color: invert($main-color4);
}

#navigate {
  opacity: 1;
  z-index: 999;
  background-color: $main-color1;
  font-size: 185%;
  .nav-justified {
    height: $navbar-height;
    width: 100%;
    & > li {
      display: table-cell;
      width: 20%;
      height: $navbar-height;
    }
  }
  li:hover > a {
    background-color: darken($main-color1,10);
  }
}

// Slider

.carousel {
  .carousel-inner > .item {
    overflow-y: hidden;
    height: 300px;
    & > img {
      width: 100%;
      margin: auto;
    }
  }
}

// Rest

textarea {
  width: 90%;
  height: 400px;
}

.single-column-row {
  margin: 0;
}

.profile {
  padding: 50px;
}

.travel {
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }
  img {
    width: 100%;
  }
  .thumbnail {
    max-width: 300px;
    max-height: 300px;
  }


  // ---- This took INCREDIBLY long to produce
  .facade-container {
    position: relative;
    .facade-image {
      position: relative;
      display: inline-block;
    }
    .facade-image:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top,
                  rgba(255,255,255,1),
                  rgba(255,255,255,0.95),
                  rgba(255,255,255,0.5),
                  rgba(255,255,255,0));

      img {
        display: block;
        height: 250px; // replace in media-queries
        width: auto;
      }
    }
    .facade-link {
      position: absolute;
      bottom: 5%;
      margin-left: 5%;
    }
  }
}

.travel-index {
  background-color: $main-color5;
  border-radius: 2px;
  padding: 15px 0;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  img {
    width: 100%;
  }
  .travel-info {
    & > * {
      border-bottom: 1px solid black;
    }
  }
  .travel-content {
    border-left: 1px solid white;
  }
  &, row {
    margin-bottom: 20px;
  }
}

a.edit-travel {
  font-size: 90%;
  color: grey;
  text-decoration: none;
  &:hover {
    background-color: lighten(black,20);
    color: darken(white,20);
  }
}

.edit-user {
  textarea {
    height: 150px !important;
  } 
}

.registrations.edit {
  a {
    text-decoration: none;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .avatar-container {
    img {
      display: block;
      margin: 0 auto;
      width: 50%;
      height: 50%;
      border: 4px solid white;
      border-radius: 5px;
    }
    margin-bottom: 20px;
  }
  textarea {
    width: 100%;
    max-width: 100%;
    height: 150px;
    max-height: 150px;
  }
  table {
    font-size: 130%;
    width: 100%;
    tr {
      width: 100%;
      td {
        width: 50%;
        line-height: 1.5em;
        margin-bottom: 5px;
        input {
          font-size: initial;
        }
        input.readonly {
          color: grey;
        }
      }
      td.left {
        text-align: right;
        padding-right: 5px;
      }
      td.right {
        text-align: left;
        padding-left: 5px;
      }
      td.single-row {
        text-align: center;
      }
    }
  }
  table.user-data {
    td.left { width: 34%; }
    td.right { width: 66%; }
  }
  .confirm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;
    text-align: center;
    width: 80%;
  }
}
