<div class="archive <%= archive_position %>">
  <% @displayed_months.reverse.each_with_index do | month, n | %>
    <div class="archive-entry">
      <span class="glyphicon glyphicon-play toggle-display" aria-hidden="true"> </span>
      <%= link_to month, travels_path %>
      <ul class="archive-hide">
        <% @travels_per_month[n].each do |travels| %>
          <% if travels.present? %>
            <li><%= link_to travel %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
