<!-- page header -->
<div id="header">
  <a href="/home" class="page-brand"><img src="/assets/logo.png" alt="" id="logo"></a>
  <% if true %> <!-- TODO: fixeroo! -->
      <button class="btn btn-default"><a href="">Login</a></button>
  <% end %>
  <ul class="social-links">
    <li><a href="https://www.facebook.com/"><img src="/assets/logo-facebook.png"></a></li>
    <li><a href="https://www.twitter.com/"><img src="/assets/logo-twitter.png"></a></li>
    <li><a href="https://www.plus.google.com/"><img src="/assets/logo-googleplus.png"></a></li>
  </ul>
  <h1>Low Travel</h1>
</div>
<!-- /page header -->
