<!-- page header -->
<div id="header">
  <a href="/home" class="page-brand"><img src="/assets/logo.png" alt="" id="logo"></a>
  <% if user_signed_in? %>
    <span class="login">Signed in as <%= link_to current_user.name, current_user %></span>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => 'btn btn-default login' %>
  <% else %>
    <%= link_to 'Sign up!', new_user_registration_path, :class => 'btn btn-default login' %>
    <%= link_to 'Log in', new_user_session_path, :class => 'btn btn-default login' %>
  <% end %>
  <ul class="social-links">
    <li><a href="https://www.facebook.com/"><img src="/assets/logo-facebook.png"></a></li>
    <li><a href="https://www.twitter.com/"><img src="/assets/logo-twitter.png"></a></li>
    <li><a href="https://www.plus.google.com/"><img src="/assets/logo-googleplus.png"></a></li>
  </ul>
  <h1>Low Travel</h1>
</div>
<!-- /page header -->
